Welcome to the Sign In Page. <br>

Please enter in your Username(Email) and Password: <br>
<form action="/users" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_username">Username</label>
  <input type="text" id="user_username" name="user[username]">

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]">

  <input type="submit" value="Sign In">

</form>